[submodule "modules/MMM-QRCode"]
	path = modules/MMM-QRCode
	url = https://github.com/uxigene/MMM-QRCode
[submodule "modules/internet-monitor"]
	path = modules/internet-monitor
	url = https://github.com/BrianHepler/internet-monitor
[submodule "modules/MMM-GoogleMapsTraffic"]
	path = modules/MMM-GoogleMapsTraffic
	url = https://github.com/vicmora/MMM-GoogleMapsTraffic
